---
layout: main
---

{% assign container = page.container | default: "container" %}

<div class="{{container}}">
<h1 class="page-title">{{page.title}}</h1>
<small class="fw-bold">
Published {{page.date | date: "%B %-d, %Y"}} 
{% for cat in page.categories %}
<a class="border-3 border-black border-start ps-1 pe-1" href="/category/{{cat | downcase}}">{{ cat }}</a>
{% endfor %}
</small> 
<div class="mb-4">
    {% if page.tags %}
    {% for tag in page.tags %}
    <span class="badge text-bg-secondary">{{ tag }}</span>
    {% endfor %}
    {% endif %}
</div>
    
{{content}}
</div>